.btn {
  border:none;
  padding:$s-size;
}
.btn__login {
  background:$blue;
  color:white;
  font-size:$fs-l;
  font-weight:100;
}

.btn__logout {
  background:none;
  color:white;
  font-size:$fs-l;
  font-weight:100;
}