.header {
  background: $dark-blue;
}
.header__title {
  color:white;
  text-decoration: none;
  h1 {
    margin:0;
  }
}
.header__content {
  align-items: center;
  display:flex;
  justify-content: space-between;
  padding:$m-size 0;
}
.header__profile {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.header__profile--photo img {
  height:50px;
  width:50px;
  border-radius: 50%;
  margin-right:$s-size;
}
