//colors
$dark-grey: #333;
$blue: #1e9eda;
$dark-blue: #09365a;

//Font sizes
$fs-l: 1.8rem;


// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint: 45rem